

.scanlines {
    z-index: 3;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
    background-attachment: fixed;
}

/* Red phosphor made of magenta and yellow */
.RY {
  z-index: 2;
  background: url(./assets/img/RY.png);
  mix-blend-mode:darken;
}
.RM {
  background: url(./assets/img/RM.png);
  mix-blend-mode: multiply;
}
.R-bloom {
  z-index: 4;
  background: url(./assets/img/R.png);
  mix-blend-mode: darken;
   filter: blur(1px) saturate(10);
   
}

/* Green phosphor made of yellow and cyan */
.GC {
  background: url(./assets/img/G.png);
  mix-blend-mode:darken;
}
.GY {
  background: url(./assets/img/G.png);
  mix-blend-mode: multiply;
}
.G-bloom {

  z-index: 4;
  background: url(./assets/img/G.png);
  mix-blend-mode: darken;
   filter: blur(1px) saturate(10);
}

/* Blue phosphor made of cyan and magenta */
.BM {
  z-index: 2;
  background: url(./assets/img/BM.png);
  mix-blend-mode:darken;
  
}
.BC {
  z-index: 3;
  background: url(./assets/img/BC.png);
  mix-blend-mode: multiply;
}
.B-bloom {
 
  z-index: 4;
  background: url(./assets/img/B.png);
  mix-blend-mode: darken;
   filter: blur(1px) saturate(10);
   
}

.bloom {
  opacity: .2;
}

.mask {
    z-index: 1;
    opacity: .6;
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
  background: url(./assets/img/mask.png);

 /* mix-blend-mode:exclusion;  */

}

.test-image{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url(./assets/img/image0.png) no-repeat center/cover;
}

.crt {

    filter: brightness(1.1) saturate(140%);
}


/*CONTROL CSS*/
#controlContainer {
  position: absolute;
  width: 100%;
  isolation: isolate;
  border-top: 2px solid black;
  padding: 10px;
  background-color: rgb(116, 116, 116);
z-index: 999999;
}

.btn{
  color: black;
  font-size: 20px;
  z-index: 999999;
}

.btn:hover{
  color: rgb(88, 76, 76);
}
