

.scanlines {
    z-index: 3;
    opacity: .5;
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
    background-attachment: fixed;
}

/* Red phosphor made of magenta and yellow */
.RY {
  z-index: 2;
  background: url(./assets/img/RY.png);
  mix-blend-mode:darken;
}
.RM {
  background: url(./assets/img/RM.png);
  mix-blend-mode: multiply;
}
.R-bloom {
  z-index: 4;
  background: url(./assets/img/R.png);
  mix-blend-mode: darken;
   filter: blur(1px) saturate(10);
   
}

/* Green phosphor made of yellow and cyan */
.GC {
  background: url(./assets/img/G.png);
  mix-blend-mode:darken;
}
.GY {
  background: url(./assets/img/G.png);
  mix-blend-mode: multiply;
}
.G-bloom {

  z-index: 4;
  background: url(./assets/img/G.png);
  mix-blend-mode: darken;
   filter: blur(1px) saturate(10);
}

/* Blue phosphor made of cyan and magenta */
.BM {
  z-index: 2;
  background: url(./assets/img/BM.png);
  mix-blend-mode:darken;
  
}
.BC {
  z-index: 3;
  background: url(./assets/img/BC.png);
  mix-blend-mode: multiply;
}
.B-bloom {
 
  z-index: 4;
  background: url(./assets/img/B.png);
  mix-blend-mode: darken;
   filter: blur(1px) saturate(10);
   
}

.bloom {
  opacity: .5;
}

.mask {
    z-index: 1;
    opacity: .4;
    position: absolute;
    top: 0;
    right: 0;
    width: 110%;
    height: 110%;
  background: url(./assets/img/mask.png);

 /* mix-blend-mode:exclusion;  */

}

.test-image{
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(./assets/img/image.png);
  background-attachment: fixed;
}

.crt {

    filter: brightness(1.1) saturate(140%);
}

